.todo-form input:focus {
  border-bottom: 1px solid #eee !important;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1) !important;
}

.delete-icon {
  opacity: 0;
  transition: all 0.3s ease;
  color: crimson;
}

.todo-circle {
  margin-right: 1rem;
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid #bdbdbd;
  display: inline-block;
  border-radius: 50%;
  color: #00796b;
  cursor: pointer;
}

.todo-circle i {
  font-size: 21px;
}

.collection-item {
  color: #616161;
  transition: all 0.3s ease;
}
.collection-item:hover {
  background-color: #eee;
}

.collection-item:hover .delete-icon {
  opacity: 0.6;
}

.delete-icon:hover {
  opacity: 0.8 !important;
}

.todos-footer {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  font-weight: 100;
}
.todo-filters .filter-btn {
  margin: 0 1rem;
}

.filter-btn {
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s;
}

.filter-btn:hover {
  text-shadow: 2px 2px 0px #d5d5d5, 3px 3px 0px rgba(0, 0, 0, 0.1);
}

.todos-count span {
  margin-right: 0.5rem;
}
